BODY
{
  background-color: #666;
  color: white;
  font-size: 12pt;
  font-family: Tahoma, Arial, Sans;
  padding: 0px;
  margin: 0px;
}

A
{
  color: #EEF;
  text-decoration: none;

 }

A:hover
{
  font-style: italic;
 }


.hidden
{
   display: block;
   overflow: hidden;
   width: 0;
   height: 0;
}

.note
{
   font-weight: .5;
   font-style: italic;
   font-size: .8em;
}

#login_form
{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

#login_form UL
{
   margin-right: auto;
   margin-left: auto;
   width: 36em;
}

#login_form H1
{
   position: static!important;
   top: 0;
}

#login_form FORM INPUT[type=text],
#login_form FORM INPUT[type=password]
{
   width: 24em;
}

NAV
{
  background-color: slategray;
  border-bottom: solid 2px silver;
  box-shadow: inset 0px -10px 10px #AAC, 2px 2px 4px black;
  height: 2em;
  margin-top: 0px;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  color: #EEE;
  text-shadow: 0px 0px 5px black;

 }

NAV.autohide
{
   height: 2px;
   overflow: hidden;
}

NAV.autohide:hover
{
   height: 2em;
   overflow: visible;
}

NAV UL
{
  list-style: none;
  margin-top: 0px;
  padding: 0;
 }

#nav_left
{
   float: left;
   width: 40%;
}

#nav_right
{
   float: right;
   width: 40%;
}

#nav_right LI
{
   float: right;
   text-align: right;
}

NAV UL LI
{
  float: left;
   min-width: 5em;
   width: 18%;
   padding: 10px;
 }

NAV A
{
  text-shadow: 0px 0px 5px black;
 }

NAV UL LI UL
{
   display: none;
  margin: 0px;
  padding: 0px;
   background-color: #333;
   border-radius: .5em;
   opacity: .8;
 }

NAV UL LI:hover UL {
   display: block;
   position: absolute;
   right: 0;
   width: 10em;
}

NAV UL LI UL LI
{
  margin: 0;
  padding: 0px 10px 0px 10px;
   float: none;
   width: 100%;
   border-radius: .5em;
 }

NAV UL LI UL LI:hover
{
   background-color: #555;
}

#authors_nav
{
   font-size: .5em;
   color: #DDD;
   clear: both;
   text-align: center;)
   width: 100%;
   margin: 0;
}

#content
{
   padding: 0;
   text-align: left;
   vertical-align: middle;
   width: 100%;
   margin: 0;
   margin-top: 2em;
}

#content H1
{
   position: absolute;
   top: 40%;
   text-align: center;
   width: 100%;
}

/*********************/
/* Announcement list */
/*********************/

#announcement_list
{
  list-style: none;
  overflow: auto;
  width: 80%;
  position: relative;
  overflow: auto;
  height: auto;
  margin-top: 8em;
}

#announcement_list LI
{
  font-size: 1.2em;
  border-radius: 5px;
  background-color: silver;
  color: #111;
  text-align: left;
  vertical-align: middle;
  margin: 4px;
  padding: 1em 0 0 1em;
  letter-spacing: .1em;
  height: 2em;
  overflow: hidden;
}

#announcement_list LI .author
{
   font-size: .3em;
   display: block;
   text-align: center;
}


#announcement_list LI:hover
{
  background-color: slategray;
  cursor: pointer;
  font-style: italic;
  }

FORM
{
  border-radius: 5px;
  color: #111;
  background-color: silver;
  padding: 20px;
  overflow: auto;
 }

FORM UL
{
  list-style: none;
 }

FORM UL LI
{
  text-align: left;
  overflow: auto;
  width: 90%;
  float:none;
  height: auto;
   padding: .2em;
   border-radius: 1em;
 }

FORM UL LI.selected
{
   background-color: lightslategrey;
}

FORM UL LI LABEL
{
  display: block;
  float: left;
  width: 10em;
 }

FORM TEXTAREA[name=content]
{
  display: block;
  width: 80%;
  clear: both;
  height: 10em;
  margin-bottom: .5em;
 }

FORM INPUT[type=text],
FORM INPUT[type=password],
FORM INPUT[type=datetime],
FORM INPUT[type=color],
FORM INPUT[type=date],
FORM INPUT[type=number]
{
   width: 30em;
}

FORM A
{
   color: blue!important;
}

#delete{
         color: red;
         border: solid 2px red;
 }

#filter_controls
{
  position: fixed;
  top: 3em;
  padding: .5em;
  background-color: #333;
  opacity: .9;
  z-index: 50;
  width: 100%;
 }

/****************/
/* Main Display */
/****************/

#announcements
{
   list-style: none;
   margin: 0;
   padding: 2em;
   width: auto;
}

#announcements .announcement_display
{
   width: 90%;
   margin: 0;
   padding: 0;
}

#title
{
   position: absolute;
   top: 2px;
   height: 2em;
   background-color: black;
   color: white;
   margin: 0;
   font-size: 1.4em;
   text-align: center;
   width: 100%;
   padding: .2em;
   vertical-align: middle;
}

#meta
{
   background-color: black;
   color: silver;
   position: absolute;
   bottom: 0;
   width: 100%;
   font-size: .8em;
   text-align: center;
}

/**********/
/* FOOTER */
/**********/

#footer {
   position: fixed;
   bottom: 0px;
   text-align: center;
   opacity: .3;
   width: 100%;
   background-color: #888;
}