{% extends "base.jinja2" %}

{% block body %}
{% include "navigation.jinja2" %}
<div id="content">
  {% if show_title %}
    <div id="title"></div>
  {% endif %}
  <div id="announcements"
       class="{{show_title and "with_title" or "without_title"}} {{show_meta and "with_meta" or "without_meta"}}"
       >

  {% include "slides.jinja2" %}

</div>
{% if show_meta %}
  <div id="meta"></div>
{% endif %}

</div>
{% endblock %}

{% block footer %}
{% endblock %}
